@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

/* 
font-family: 'Karla', sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: hsl(273, 4%, 51%);
  padding: 1.2rem 2.4rem;
}

.nav {
  font-size: 2rem;
  text-transform: uppercase;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 2rem;
}

h1,
h2,
h3 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1px;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  height: 9rem;
}

.nav .nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.btn {
  display: inline-block;
  padding: 1.5rem, 3rem;
  font-size: 2rem;
  font-weight: 700;
}

.btn.btn-nav {
  border: 2px solid hsl(256, 26%, 20%);
  color: hsl(270, 9%, 17%);
}

.header {
  background: url(images/bg-pattern-intro-right-desktop.svg), hsl(256, 26%, 20%);
  background-repeat: no-repeat;
  background-position: 100%;
  color: hsl(0, 0%, 98%);
  height: 60vh;
}

.header .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header .img {
  position: relative;
  top: 0;
  left: 0;
}

.header .img img {
  position: absolute;
  right: 50%;
}

.header .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  height: 60vh;
}

.header .container .content .line {
  width: 40%;
  color: hsl(273, 4%, 51%);
  height: 2rem;
}

.header h1 {
  font-size: 5rem;
  width: 35%;
}

.header p {
  font-size: 2rem;
  line-height: 1.5;
  width: 55%;
  color: hsl(273, 4%, 51%);
}

.header .btn-header {
  border: 2px solid hsl(0, 0%, 98%);
  text-transform: uppercase;
  color: hsl(273, 4%, 51%);
}
